body {
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

@media (max-width: 767px) {
  p {
    line-height: 24px;
  }

  header,
  #header_content {
    background: #3c3a39;
  }

  header {
    height: 82px;
  }

  #header_content {
    position: fixed;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    height: 80px;
    width: 100%;
  }

  #logo {
    margin-left: 10px;
    font-size: 23px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }

  #logo a {
    color: inherit;
    text-decoration: none;
  }

  #logo a:hover {
    text-decoration: underline;
    font-size: 24px;
  }

  nav {
    font-size: 23px;
    margin-right: 30px;
  }

  #main {
    background-color: #1c1a19;
    padding: 130px 25px 150px;
    background-image: url("images/illustration-header-mobile.png");
    background-repeat: no-repeat;
    background-position: bottom  right;
  }

  h1 {
    font-size: 54px;
    font-family: 'Crete Round', sans-serif;
    color: #ff6b00;
    margin-top: 0;
    width: 330px;
    margin-bottom: 10px;
    line-height: 64px;
  }

  .work-title h2 {
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
  }

  #main h2 {
    color: #fff5e1;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
  }

  .project p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.5;
  }

  .pr-1 p {
    color: #091e42;
  }

  .bg-img p,
  h3,
  button {
    color: #fff;
  }

  #main p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }

  .social-media {
    list-style-type: none;
    display: flex;
    padding-left: 0;
  }

  .icons {
    color: #dbd8d7;
    font-size: 20px;
    width: 17.99px;
    margin: 0 10px;
  }

  .icons:hover {
    color: gray;
  }

  .mail-icon {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
  }

  #work {
    width: 87%;
    margin: auto;
    padding: 80px 0;
  }

  .work-title {
    display: flex;
    flex-direction: column;
  }

  hr {
    color: #212121;
    border-bottom: none;
    margin-bottom: 70px;
  }

  #work-content {
    display: grid;
    grid-template-rows: ifr;
    grid-template-columns: 1fr;
  }

  .pr-1 img {
    width: 100%;
  }

  .bg-img h3 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
  }

  .pr-1 h3 {
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    color: #091e42;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 15px;
  }

  .project ul {
    display: flex;
    width: 85%;
    justify-content: space-between;
  }

  .project li {
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 20px;
    color: #091a42;
    border: 1px solid #8993a4;
  }

  .bg-img {
    padding-top: 58px;
    background-image: url("images/Img\ Placeholder\ \(1\).png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
  }

  .bg-img .body-content {
    padding: 0 20px 15px;
    margin-right: 0;
  }

  button {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background: #ff6b00;
    border: none;
    padding: 13px;
  }

  .pr-1 button {
    margin-top: 15px;
  }

  .bg-img button {
    width: 100%;
    margin-top: 24px;
  }

  .bg-img ul {
    width: 75%;
  }

  .bg-img li {
    color: #fff;
    border: none;
    background: rgba(255, 255, 255, 0.24);
  }
}
