body{
  margin: 0;
  box-sizing: border-box;
}

@media (min-width: 320px) {
  header, #header_content {
    background: #3C3A39;
  }

  header {
    height: 92px;
  }

  #header_content {
      position: fixed;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
    height: 80px;
    width: 100%;
  }

  #logo {
    margin-left: 10px;
    font-size: 23px;
    font-family:"Roboto", sans-serif ;
    font-weight: 700;
  }

  nav {
    font-size: 23px;
    margin-right: 30px;
  }

  #main {
    background-color: #1C1A19;
    padding: 120px 25px;
  }

  h1 {
    font-size: 54px;
    font-family:'Crete Round', sans-serif;
    color: #FF6B00;
    margin-top: 0;
    width: 330px;
    margin-bottom: 10px;
    line-height: 64px;
  }

  #main h2 {
    color: #FFF5E1;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
  }

  #main p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }

  .icons {
    color: #DBD8D7;
    font-size: 20px;
    width: 17.99px;
    margin: 0 10px;
  }

  .mail-icon{
    text-decoration: none;
  }
}